# dependencies
/node_modules

# testing
/coverage

# build
/dist

# etc
.DS_Store
.env.local
.idea

# generated manifest
public/manifest.json

# timestamped vite configs
vite.config.ts.timestamp*

# config
src/config.ts