@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder,
textarea::placeholder,
select:invalid {
  font-style: italic;
  @apply text-neutral-600;
}

/* option[value=''][disabled] {
  display: none;
} */
